*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Mono", serif; */
}
.all{
    background: url(love/rose\ 2.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    
}
.allcon{
    
    background: linear-gradient(135deg, rgba(230, 18, 14, 0.1), rgba(213, 14, 14, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 0.18);
    box-shadow: 0 8px 32px o rgba(0, 0, 0, 0.37);
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.context{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.input1{
    display: flex;
    gap: 20px;
}
.input1 input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    font-family: "Oleo Script", system-ui;
    background-color: #ebd6d5;
    color: #691816;
}
.context h1{
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    background-color: #691816;
    padding: 10px;
    border-radius: 30px 0 30px 0;
    color: #ebd6d5;
    font-family: "Oleo Script", system-ui;
}
.context a{
    margin-top: 30px;
    text-decoration: none;
}
footer p{
    color: #ebd6d5;
}
.context .up1 p{
    background-color: #691816;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: "Oleo Script", system-ui;
    padding: 20px 40px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
    color: #ebd6d5;
    box-shadow: inset 2px 2px 10px #ebd6d5;
}
.context .up p{
    background-color: #ebd6d5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: "Oleo Script", system-ui;
    padding: 20px 40px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
    color: #691816;
    box-shadow: 8px 5px 10px #691816;
}
.all1{
    display: flex;
    justify-content: center;

}

.all1 .lovebg{
    background: linear-gradient(#0000006c,#0000006b), url(love/rose.jpg);
    width: 500px;
    height: 100vh;
    
    padding: 20px;
    background-repeat: no-repeat;
    border: 2px solid #000;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.imglo img{
    padding-top: 20px;
    width: 200px;
}
.lovetext{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lovetext h1{
    font-family: "Oleo Script", system-ui;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: #ebd6d5;
    margin-bottom: 150px;
}
.bttt{

    margin-right: auto;
    margin-left: auto;
}
.lovetext a, .context a{
    margin-bottom: 100px;
    font-family: "Oleo Script", system-ui;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #691816;
    background-color: #ebd6d5;
    border: 1px solid #691816;
    border-radius: 10px;
    box-shadow: 5px 5px 7px #ebd6d5;
}

.context a:hover{
    box-shadow: none;
    cursor: pointer;
    background-color: #691816;
    color: #ebd6d5;
    transition: .5s;
    box-shadow: inset 2px 2px 10px #ebd6d5;
}
.lovetext a:hover{
    background-color: #691816;
    color: #ebd6d5;
    box-shadow: none;
    cursor: pointer;
    transition: .5s;
}
.up{
    margin-bottom: 30px;
}


@media (min-width: 200px) and (max-width: 767px){
    .input1{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 10px;
    }
    .all1 .lovebg{
        width: 100%;
        overflow: hidden;
    }
    .allcon{
        width: 400px;
        margin-top: 0px;
    }
    .lovetext h1{
        padding: 0 30px;
    }
    .all{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .context .p1{
        /* margin-bottom: 100px; */
    }
    .context h1{
        font-size: 35px;
       
    }
   
    .context .p2{
        
        font-size: 20px;
    }
    
}